<div class="cart-container" *ngIf="cartItems.length > 0">
    <div class="cart-panel">
        <app-cart-item *ngFor="let cartItem of cartItems" 
            [cartItem]="cartItem" 
            (quantityChanged)="changeQuantity(cartItem.product.id, $event)"
            (itemDeleted)="deleteItem(cartItem.product.id)">
        </app-cart-item>
        <h3>Total: {{ totalAmount | currency: 'USD' }}</h3>
    </div>
    <div class="form-margin">
        <app-checkout></app-checkout>
    </div>
</div>

<div class="empty-cart-message" *ngIf="cartItems.length == 0">
    <p>No products added to cart. <a routerLink="/">Go to product list</a></p>
</div>