.header {
    text-align: center;
    background: #33B5E5;
    color: #fff;
    padding: 12px;
  }

  .header ul {
    padding:0;
  }

.header ul>li {
  display:inline;
  list-style-type: none;
  margin: 0 10px;
}
  
  a {
    color: #ffffff;
  }